# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.LevelDesignerPlayground.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\LevelDesignerPlayground\.idea\.idea.LevelDesignerPlayground\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
